@use '../base/base' as *;
@use '../abstracts/mixins' as *;

/* ------------------- */
/*       SOCIALS       */
/* ------------------- */

.socials {
    display: flex;
    gap: var(--s-3xl);
    line-height: 0.7;

    & li {
        list-style: none;
    }

    & a:link,
    & a:visited {
        display: inline-block;
        font-size: var(--s-3xl);
        color: var(--cl-neutral-300);

        transition: all 0.2s;

        @include respond(tab-port) {
            font-size: var(--s-big-3);
        }
    }

    & a:hover,
    & a:active {
        color: var(--cl-neutral-400);
    }
}
